---
import Layout from "../layouts/Layout.astro";
import Particles from "astro-particles";
import options from "../components/bgc-options";
import AboutSection from "../components/aboutSection.astro";
import ExpertiseSection from "../components/expertiseSection.astro";
import MainSection from "../components/mainSection.astro";
import ContactSection from "../components/contactSection.astro";
---

<script>
  import { tsParticles } from "tsparticles-engine";
  import { loadFull } from "tsparticles";

  (async () => {
    await loadFull(tsParticles);
  })();
</script>

<Layout title="Gordion bioscience">
  <main class="content">
    <MainSection />
    <AboutSection />
    <ExpertiseSection />
    <ContactSection />
  </main>
</Layout>

<Particles id="tsparticles-1" options={options} />
<Particles id="tsparticles-2" options={options} />

<style is:global>
  #tsparticles-1,
  #tsparticles-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .typewriter-2 {
    overflow: hidden;
    animation: typing 1s ease-in-out 0.5s forwards;
    opacity: 0;
  }
  .typewriter-3 {
    overflow: hidden;
    animation: typing 1s ease-in-out 1.5s forwards;
    opacity: 0;
  }
  .typewriter-4 {
    overflow: hidden;
    animation: typing 1s ease-in-out 2.5s forwards;
    opacity: 0;
  }
  .typewriter-5 {
    overflow: hidden;
    animation: typing 1s ease-in-out 3.5s forwards;
    opacity: 0;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: var(--font-color);
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--font-hover);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: var(--font-hover);
  }
  /* The typing effect */
  @keyframes typing {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
</style>
