---
---

<form class="contact-form">
  <label class="contact-form__label">
    Your Name:
    <input type="text" name="visitor" required />
  </label>
  <label class="contact-form__label">
    Email:
    <input type="email" name="email" required />
  </label>
  <label class="contact-form__label">
    Message
    <textarea name="message" id="msg" required></textarea>
  </label>
  <button class="contact-form__btn">Send Message</button>
</form>
<style>
  .contact-form {
    display: flex;
    flex-direction: column;
    background-color: var(--font-color);
    border-radius: 16px;
    padding: 2rem;
    width: 50%;
  }
  .contact-form__label {
    color: var(--bg-color-1);
    font-weight: 400;
    font-size: 0.9rem;
  }
  .contact-form__btn {
    display: ;
  }
</style>
