---
import ContactIconsComponent from "./ContactIcons";
---

<section class="contact-section" id="contact-section">
  <div class="contact-section__content">
    <ContactIconsComponent />
    <div class="contact-form__container"></div>
  </div>
</section>
<style is:global>
  .contact-section {
    /* background-color: blue; */
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-section__content {
    padding-top: 8rem;
    width: 100%;
  }
  .contact-section__text {
    /* background-color: red; */
    display: flex;
    padding: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contact-section__heading {
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    line-height: normal;
    font-weight: 200;
    width: 80%;
    font-size: 1.5rem;
  }
  .contact-section__grid {
    display: flex;
    flex-direction: column;
  }
  .grid__card {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
  .grid__card > svg {
    display: block;
    width: 3rem;
    height: 4rem;
    /* background: #000; */
    margin: 0.5rem;
    fill: var(--font-color);
  }
  .grid__card > h4 {
    /* background: brown; */
    font-size: 1.5rem;
    font-weight: 200;
  }
  @media screen and (width>1024px) {
    .contact-section__text {
      flex-direction: row;
      justify-content: space-evenlye;
      align-items: center;
      gap: 2rem;
      height: 100%;
      width: 100%;
    }
    .contact-section__heading {
      width: 50%;
    }
  }
</style>
